footer {
    background-color: rgb(94 77 77);
    color: whitesmoke;
    font-size: 110%;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.big-div {
    margin: 0 0 20px 0;
    padding: 5px;
    border: 2px dotted black;
    /* background-color: rgb(191, 212, 245); */
    /* background-color: rgb(154, 151, 151); */
}

h2 {
    color: rgb(73, 53, 53);
    text-align: center;
}